/* 01. VARIABLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --primaryColor:#1F3979;
    --secondaryColor:#54595F;
    --accentColor:#199AD9;
    --redColor:#C60C30;
    --whiteColor: #FFFFFF;
    --lightPrimaryColor:#F3F4F8;
    --lightGrayColor:#FCFCFC;
    --placeholderColor:#ADADAD;
}   

h1 {
    color: var(--primaryColor);
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}

h2 {
    color: var(--primaryColor);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}
h3 {
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}
p, .lblText {
    color: var(--primaryColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}
.highlight {
    display: flex;
    width: 25%;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background: var(--secondaryColor);
    border-radius: 12px 12px 12px 0px;
    color: var(--whiteColor);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
}
/*--
 * ELEMENTOS
 * -------------------------------------------------------------------
*/
/* 01. CAJA DE TEXTO */
.boxText{
    color: var(--primaryColor);
    border: none;
    background: var(--lightPrimaryColor);
    border-radius: 12px;
    width: 100%;
    height: 42px;
    padding: 9px 21px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.boxText::placeholder{
    font-weight: 300;
    opacity: 0.8;
    color: var(--placeholderColor);
}
.boxText:focus{
    outline: none;
    border: 1px solid var(--accentColor);
    transition: 1s;
}

/* TEXTAREA */
.boxTextArea{
    color: var(--primaryColor);
    border: none;
    background: var(--lightPrimaryColor);
    border-radius: 12px;
    width: 100%;
    height: 126px;
    padding: 9px 21px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
/* Desplegable */
.sltOption{
    color: var(--primaryColor);
    border: none;
    background: var(--lightPrimaryColor);
    border-radius: 12px;
    width: 100%;
    height: 42px;
    padding: 9px 21px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}
/* 03. BOTON */
.primaryButton{
    background: var(--primaryColor);
    color: var(--whiteColor);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    height: 42px;
    width: 132px;
    transition: 1s;
}
.primaryButton:disabled{
    background: var(--primaryColor);
    opacity: 0.5;
    color: var(--whiteColor);
    font-weight: 700;
    border: none;
    border-radius: 12px;
    height: 42px;
    width: 132px;
}

.primaryButton:hover:not(:disabled){
    background: var(--secondaryColor);
    transition: 1s;
}
/* Secondary Button*/
.secondaryButton{
    background: var(--whiteColor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    font-weight: 600;
    border-radius: 12px;
    height: 42px;
    width: 132px;
    transition: 1s;
    cursor: pointer;
}
/* Accent Button*/
.accentButton{
    background: var(--accentColor);
    color: var(--whiteColor);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    height: 42px;
    width: 132px;
    transition: 1s;
    cursor: pointer;
}

/* 04. ACTION */
.editAction{
    background: var(--accentColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 8px;
    padding: 8px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    text-align: center;
}

.deleteAction{
    height: 40px;
    width: 40px;
    border: 2px solid var(--accentColor);
    color: var(--accentColor);
    padding: 8px;
    background: var(--whiteColor);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}
